shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
rapidfuzz
torch  # Used for DataLoader (Paddle's DataLoader has a numpy array corruption bug)
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations
# to be compatible with albumentations
albucore
packaging
